.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5vh;
}

h1 {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.camera-icon {
  font-size: 8vh;
  margin: 2%;
  color: #fff;
}
